<h1>Hello!</h1>

<div class="link_cards">
    <a class="service-card" (click)="to_patient()"><img src="../../../assets/patient.png" alt="Patient" width="60px"
            height="60px"></a>
    <a class="service-card" routerLink="/dochome"><img src="../../../assets/doctor.png" alt="Doctor" width="60px" height="60px"></a>

    <a class="service-card" routerLink="/nurse_profile"><img src="../../../assets/nurse.png" alt="Nurse" width="60px" height="60px"></a>
    <a class="service-card" routerLink="/adminprofile"><img src="../../../assets/admin.png" alt="Admin" width="60px" height="60px"></a>

</div>



<div class="card_names">
    <span class="p">Patient</span>
    <span class="d">Doctor</span>
    <span class="n">Nurse</span>
    <span class="a">Admin</span>
</div>