

h1{
    font-family: 'montserrat';
    font-weight: bold;
    color: #444343;
}
h2{
    font-family: 'montserrat';
    font-weight: bold;
    color: #444343;
}
h3{
    font-family: 'montserrat';
    font-weight: bold;
    color: #444343;
}
.home-txt{
    display: block;
    margin:50px;
    font-weight: bold;
}
.card-block{
    display:flex;
    justify-content: center;
    align-items: center;
}
div{
    display: flex;
    justify-content: center;
}

.card-btn{
    cursor: pointer;
    border: 1px #444343 solid;
    display: flex;
    align-items: center;
    justify-content: center; 
    width:200px;
    height:200px;
    border-radius: 10px;
    box-shadow: none;
    /* top:10%; */
}
.card-btn:hover{
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.1);
}

