<app-doctor-nav> </app-doctor-nav>
<h3>Hello Doctor!</h3>


<div class="container">
    <div class="navigation-cards" fxLayoutAlign="center" fxLayoutGap="60px" fxLayout="row wrap">
        <mat-card class="nav-card" (click)="to_accpetedAppointment()">
            <mat-card-content >
            <div fxLayoutAlign="center"><img class="images" src="../../../../assets/doctor.png" alt="book_appointment" width="70px" height="70px"></div>
            </mat-card-content>
            <mat-card-footer>
                <h2>Accepted Appointments</h2>
            </mat-card-footer>
        </mat-card>

        <mat-card class="nav-card" (click)="to_pendingAppointment()">
            <mat-card-content>
                <div fxLayoutAlign="center"><img class="images" src="../../../../assets/patient.png"
                        alt="Medical History" width="70px" height="70px"></div>
            </mat-card-content>
            <mat-card-footer>
                <h2>Pending Appointments</h2>
            </mat-card-footer>
        </mat-card>

        <mat-card class="nav-card" (click)="add_available()">
            <mat-card-content>
                <div fxLayoutAlign="center"><img class="images" src="../../../../assets/calendar.png"
                        alt="Appointment History" width="70px" height="70px"></div>
            </mat-card-content>
            <mat-card-footer>
                <h2>Update Availability</h2>
            </mat-card-footer>
        </mat-card>
    </div>
</div>