.nav-bar {
    background-color: #E8E8E8 ;
}

.space {
    flex: 1 1 auto;
}

h3{
    padding-top: 5%;
    padding-left: 5%;
    font-family: 'montserrat';
    font-weight: bold;
    color: #444343;
    font-size: 30px;
}

span {
    font-family: 'montserrat';
    font-weight: bold;
    color: #444343;
}

a {
    text-decoration: none;
    color: #444343;
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 80%;
    margin-left: 1%;
    margin-right: 2%;
}

a:hover {
    background-color: #E8E8E8;
}

.isactive{
    padding: 0 10px 0 10px;
    background-color: #6DF5D4 !important;
    border-radius: 50px;
}

h1 {
    margin-top: 5%;
    color: #444343;
    font-family: 'montserrat';
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}

.link_cards{
    margin-top: 1%;
    text-align: center;
}

.service-card{
    margin: 2%;
    border: 1px #444343 solid;
    border-radius: 15px;
    padding: 60px 40px 40px 40px;
    cursor: pointer;
    /* margin-right: 200px; */
}

.service-card1{
    margin: 2%;
    border: 1px #444343 solid;
    border-radius: 15px;
    padding: 60px 40px 40px 40px;
    cursor: pointer;
    /* margin-left: 20%; */
}

.card_names{
    margin-top: 5%;
    text-align: center;
}

span{
    margin: 2%;
    color: #444343;
    font-family: 'montserrat';
    font-weight: 600;
    padding: 0px 40px 60px 40px;
}

.p{
   padding-right: 50px;
}

.d{
    padding-right: 45px;
}

.n{
    padding-right: 50px;

}

.a{
    padding-left: 50px;
}

.gritems{
    align-items: right;
}
img{
    padding-bottom: 30px;
}


.nav-card{
    cursor: pointer;
    width: 220px;
    height: 200px;
    border-radius: 5%;
    border: solid 1px #444343;
    box-shadow: none;
    margin-bottom: 40px;
}

mat-card-footer{
    margin-top: 20px;
    text-align: center;
}

mat-card-footer h3{
    font-family: 'montserrat';
    font-weight: 600;
}




.personal-card {
    margin-top: 5%;
    margin-left: 5%;
    width: 50%;
    font-family: 'montserrat';
    font-weight: bold;
    color: #444343;
}

.back-card {
    border: 1px #444343 solid;
    border-radius: 30px;
}

mat-card-content {
    margin-top: 1%;
    margin-left: 5%;
}

.back-card {
    background-color: #E8E8E8;
}

.edit-button {
    margin: 0 6% 2% 0;
    cursor: pointer;
    padding: 7px 30px 7px 30px;
    border-radius: 20px;
    font-family: 'montserrat';
    font-weight: bold;
    color: #444343;
    background-color: #6DF5D4;
}

.service-card {
    border: 2px #828181 solid;
    border-radius: 15px;
    padding: 80px 40px 40px 40px;
    margin: 2.5%;
    cursor: pointer;
}

.card_names {
    margin: 9% 10% 3% 4%;
}

.card_name {
    font-family: 'montserrat';
    font-weight: 700;
    color: #444343;
    margin: 4% 10% 3% 4%;
    padding: 10px;
}



.ba {
    padding-left: 25px;
    padding-right: 60px;
}

.vmh {
    padding-right: 60px;
}

.vah {
    padding-left: 36%;
}

.container{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 150px;
}

.nav-card{
    cursor: pointer;
    width: 220px;
    height: 200px;
    border-radius: 5%;
    border: solid 1px #444343;
    box-shadow: none;
    margin-bottom: 40px;
}

mat-card-footer{
    margin-top: 20px;
    text-align: center;
}

mat-card-footer h2{
    font-family: 'montserrat';
    font-weight: 600;
    color: #444343;
    font-size: 0.9vw;
}