<mat-toolbar class="nav-bar">
    <span>Poseidon Healthcare</span>
    <div class="space"></div>
    <a class="button isactive" routerLink="">Home</a>
</mat-toolbar>


<div class="kk" >
    <h1 class="home-txt card-bt">Forbidden Route!!!</h1>
    <div (click)="innerClick()" class="card-block">
    <mat-card class="card-btn">
        <a  #inner>
        <app-login-logout></app-login-logout>
        </a>

    </mat-card>
    </div>
    <div>
    <h3 class="home-txt">Kindly Login</h3>
    </div>

</div>
