body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #E8E8E8;
}

.space {
    flex: 1 1 auto;
}

span {
    font-family: 'montserrat';
    font-weight: bold;
    color: #444343;
}

a {
    text-decoration: none;
    color: #444343;
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 80%;
    margin-left: 1%;
    margin-right: 2%;
    cursor: pointer;
}

a:hover {
    background-color: #E8E8E8;
}

h1 {
    color: #444343;
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    transform: translateY(50px);
}

h3 {
    font-family: 'montserrat';
    color: #444343;
    margin: 50px;
    font-weight: bold;
}

h4 {
    font-family: 'montserrat';
    color: #444343;
    font-weight: bold;
    margin-left: 50px;
}

.date-box {
    display: flex;
    justify-content: space-between;


}


.table-box {

    width: 93%;
    box-sizing: border-box;
    position: relative;
    left: 3.5%;
    top: 3.5%;
}

.info-btn {
    cursor: pointer;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: #444343;
    background-color: #6DF5D4;
}

.med-history{
    cursor: pointer;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    background-color: #444343;
}