table {
    width: 50%;
    margin-left: 10px;
}

.mat-elevation-z8{
    margin-left: 5%;
    margin-right: 5%;   
}

a {
    text-decoration: none;
    color: #444343;
    font-family: 'montserrat';
    font-weight: 600;
    font-size: 80%;
    margin-left: 1%;
    margin-right: 2%;
}

a:hover {
    cursor: pointer;
    background-color: #E8E8E8;
}

.isactive {
    padding: 10px 15px 10px 15px;
    background-color: #6DF5D4 !important;
    border-radius: 50px;
}


.isdark {
    padding: 10px 15px 10px 15px;
    background-color: #5e5e5e !important;
    border-radius: 50px;
    color: white;
}
.dv{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
.d{
    padding-top: 10px;
}
.b{
    padding-bottom: 10px;
}