<mat-toolbar class="nav-bar">
    <span>Poseidon Healthcare</span>
    <div class="space"></div>
    <a class="button isactive" routerLink="">Home</a>
    <a class="button"><app-login-logout></app-login-logout> </a>
</mat-toolbar>

<div class="container">
    <div fxLayoutAlign="end">
        <button mat-fab (click)="to_services()"> <img src="../../../../assets/arrow-left-long-solid.svg" width="25px"
                height="25px" alt=""></button>
    </div>
</div>
<h1>Welcome Doctor!!</h1>
<img id="banner"src="../../../../assets/doctorBanner.png" alt="">

