<!-- 
address
: 
""
contactNumber
: 
""
dob
: 
"16/12/2001"
email
: 
""
firstName
: 
"abdul"
gender
: 
"M"
id
: 
13
lastName
: 
"Aleem"
password
: 
"Abdul123"
title
: 
"Mr" -->
<div class="container">
    <div fxLayoutAlign="end">
        <button mat-fab (click)="to_UpdateMedInfo()"><img src="../../../../assets/arrow-left-long-solid.svg"
                width="25px" height="25px" alt=""></button>
    </div>

    <div class="detail-container">
        <div class="details" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="30px">
            <div><span>
                    <h3>Name : <span>{{patientDetails.firstName}}</span></h3>
                </span></div>

            <div><span>
                    <h3>Email : <span>{{patientDetails.email}}</span></h3>
                </span></div>

            <div><span>
                    <h3>Gender : <span>{{patientDetails.gender}}</span></h3>
                </span>
            </div>
        </div>

        <div class="details" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="30px">
            <div><span>
                    <h3>Age : <span>{{patientDetails.dob | dobToAge}}</span></h3>
                </span></div>

            <div><span>
                    <h3>Phone : <span>{{patientDetails.contactNumber}}</span></h3>
                </span></div>

            <div><span>
                    <h3>Address : <span>{{patientDetails.address}}</span></h3>
                </span>
            </div>
        </div>


    </div>

    <h2>Observations History</h2>

    <!-- appointmentId
: 
12
bloodGroup
: 
"string"
bloodPressureDiastolic
: 
0
bloodPressureSystolic
: 
80
bodyTemperature
: 
97
height
: 
4
id
: 
38
keyNotes
: 
"abnormal behaviour"
nurseEmail
: 
"string"
patientId
: 
13
physicianEmail
: 
"diana@doctor.com"
respirationRate
: 
14
weight
: 
53 -->

    <div *ngFor="let i of VisitDetailsList">
    <div class="card-area flex-container" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px"
        fxLayout.lt-md="column">
        <mat-card>
            <mat-card-header class="flex-container">
                <div class="head-card" fxLayout="row" fxLayout="center" fxLayoutGap="150px">
                    <div>
                        <span>
                            <h3>{{i.physicianEmail}}<span id="spl"></span></h3>
                        </span>
                    </div>

                    <div>
                        <h3></h3>
                    </div>

                   


                </div>
            </mat-card-header>


            <div fxLayoutAlign="center">
                <img src="../../../../assets/medical-history.png" alt="medical report" width="100px" height="100px"
                    id="card-icon">
            </div>
            <mat-card-actions>
                <div class="actions" fxLayout="row">
                    <button mat-flat-button id="test" (click)="openDialog(i.id)">Tests</button>
                    <button mat-flat-button id="prescriptions" (click)="openPrescriptionDialog(i.id)">Prescriptions</button>
                    <button mat-flat-button id="vital-details" (click)="openvitals(i.id)">Vitals</button>
                </div>
            </mat-card-actions>
        </mat-card>

       

    </div>
    </div>






</div>