<div class="container">
    <h4>Observations Made</h4>
    <table mat-table class="mat-elevation-z8" [dataSource]="listOfTest">
    
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef class="headers">Id</th>
            <td mat-cell *matCellDef="let test;index as i" class="data">{{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="test">
            <th mat-header-cell *matHeaderCellDef class="headers">Test</th>
            <td mat-cell *matCellDef="let test" class="data">{{test.testName}}</td>
        </ng-container>

        <ng-container matColumnDef="notes">
            <th mat-header-cell *matHeaderCellDef class="headers">Notes</th>
            <td mat-cell *matCellDef="let test" class="data">{{test.notes}}</td>
        </ng-container>

        <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef class="headers">Result</th>
            <td mat-cell *matCellDef="let test" class="data">{{test.result}}</td>
        </ng-container>

        <ng-container matColumnDef="edit" >
            <th id="ed" mat-header-cell *matHeaderCellDef class="headers">Edit</th>
            <td mat-cell *matCellDef="let test">
                <button mat-flat-button id="editBtn" (click)="openEditObservation(test.id)">Edit</button>
            </td>
        </ng-container>

            <ng-container matColumnDef="delete">
                <th id="ed" mat-header-cell *matHeaderCellDef class="headers">Delete</th>
                <td mat-cell *matCellDef="let test">
                <button mat-flat-button id="deleteBtn" (click)="DeleteTest(test.id)">Delete</button>
                </td>
            </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>


    </table>

    <mat-paginator id="page" #paginator [pageSizeOptions]="[2,4,6]"></mat-paginator>
</div>