<div class="container">
    <div class="btns">
        <mat-form-field appearance="fill">
            <mat-label>Pick a Date</mat-label>
            <input matInput [min]="startDate" [matDatepicker]="formpicker" name="date" ngModel [(ngModel)]="bookDate" #Date='ngModel'
                (dateInput)="setDate($event.value)">
            <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="formpicker"></mat-datepicker-toggle>
            <mat-datepicker #formpicker></mat-datepicker>
        </mat-form-field>
        <span class="spacer"></span>
        <div fxLayoutAlign="end">
            <button mat-fab (click)="to_profile()"><img src="../../../../assets/arrow-left-long-solid.svg" width="25px"
                    height="25px" alt=""></button>
        </div>
    </div>

    <div *ngIf="!dateCheck" fxLayoutAlign="center" id="dateMessage">
        <h1>Please pick a date to see the available doctors</h1>
    </div>


    <div *ngIf="dateCheck">
        <h2 id="availdoc">Available Doctors on {{bookDate | dateformatter}}</h2>
    
        <div fxLayoutAlign="center" *ngIf="load">
            <mat-spinner></mat-spinner>
        </div>

   
    <div class="card-area flex-container" *ngIf="show" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px"
        fxLayout.lt-md="column">
        <div *ngFor="let doctors of doctorsList">

            <mat-card>
                <mat-card-header class="flex-container" fxLayout="row">
                    <span>
                        <h3>{{doctors.name}}<span id="spl">({{doctors.dept}})</span></h3>
                    </span>
                </mat-card-header>


                <div fxLayoutAlign="center">
                    <img src="../../../../assets/doctor_appointment.png" alt="medical report" width="100px"
                        height="100px" id="card-icon">
                </div>
                <mat-card-actions><button mat-flat-button id="book"  (click)="openDialog()"
                        (click)="setAppointment(doctors.email)">Book</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

    <div *ngIf="!show" fxLayoutAlign="center" id="dateMessage">
        <h1>Sorry, we don't have any available doctors on this date</h1>
    </div>
    </div>



</div>