h1 {
    margin-top: 3%;
    color: #444343;
    font-family: 'montserrat';
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

mat-form-field{
    width: 100%;
}

.dialog-box{
    margin: 30px;
}
.update-buttons span {
    color: #444343;
}

.update-buttons{
    background-color: #6DF5D4;
    border-radius: 0;
    float: left;
    width: 40%;
}
.back-buttons{
    border: 1px #6DF5D4 solid;
    background-color: #444343;
    border-radius: 0;
    float: right;
    width: 40%;
}


span{
    color: white;
    font-family: 'montserrat';
    font-weight: bold;
}

