




<div class="container" >
    <div fxLayoutAlign="end">
        <button mat-fab (click)="to_profile()"><img src="../../../../assets/arrow-left-long-solid.svg" width="25px"
                height="25px" alt=""></button>
    </div>

  
    
    <div *ngIf="load" fxLayoutAlign="center" id="spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div class="detail-container" *ngIf="show">
        <div class="details" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="30px">
            <div><span>
                    <h3>Name : <span>{{BasicDetails.firstName+" "+BasicDetails.lastName}}</span></h3>
                </span></div>

            <div><span>
                    <h3>Email : <span>{{BasicDetails.email}}</span></h3>
                </span></div>

            <div><span>
                    <h3>Blood Group : <span>{{MostRecentMedicalHistory.bloodGroup}}</span></h3>
                </span>
            </div>
        </div>

        <div class="details" fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="30px">
            <div><span>
                    <h3>Age : <span>{{BasicDetails.dob|dobToAge}}</span></h3>
                </span></div>

            <div><span>
                    <h3>Phone : <span>{{BasicDetails.contactNumber}}</span></h3>
                </span></div>

            <div><span>
                    <h3>Address : <span>{{BasicDetails.address}}</span></h3>
                </span>
            </div>

            <div><span>
                    <h3>Last Consultation : <span>Dr. {{MostRecentMedicalHistory.physicianEmail.split('.')[0].charAt(0).toUpperCase()+MostRecentMedicalHistory.physicianEmail.split('.')[0].slice(1)}}</span></h3>
                </span>
            </div>
        </div>
    </div>

    <h2>Observations History</h2>

    <div *ngIf="!show" fxLayoutAlign="center">
        <h1>Sorry, you don't have any medical history for now.</h1>
    </div>


    <div class="card-area flex-container" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px"
        fxLayout.lt-md="column">
        <mat-card *ngFor="let visit of MedicalHistoryArray">
            <mat-card-header class="flex-container">
                <div class="head-card" fxLayout="row" fxLayout="center" fxLayoutGap="150px">
                    <div>
                        <span>
                            <h3>{{getDoctorName(visit.physicianEmail) }}<span id="spl"> ({{getDeptName(visit.physicianEmail)}})</span></h3>
                        </span>
                    </div>
                

                </div>
            </mat-card-header>


            <div fxLayoutAlign="center">
                <img src="../../../../assets/medical-history.png" alt="medical report" width="100px" height="100px"
                    id="card-icon">
            </div>
            <mat-card-actions>
                <div class="actions" fxLayout="row">
                    <button mat-flat-button id="test" (click)="openDialog(visit.id)">Tests</button>
                    <button mat-flat-button id="prescriptions" (click)="openPrescriptionDialog(visit.id)">Prescriptions</button>
                    <button mat-flat-button id="vital-details" (click)="openvitals(visit.id)">Vitals</button>
                </div>
            </mat-card-actions>
        </mat-card>

    </div>






</div>