<div>
    <div mat-dialog-title fxLayoutAlign="center" id="title">List of Medicines </div>

    <!-- dosage
: 
"2 tablets"
id
: 
19
notes
: 
"powerfull"
prescriptionName
: 
"Crocin"
visitDetailsId
: 
38 -->

    <div mat-dialog-content class="testDialog" fxLayoutAlign="center">
        <table mat-table [dataSource]="Prescription">
            <ng-container matColumnDef="Id">
                <th mat-header-cell *matHeaderCellDef>Id</th>
                <td mat-cell *matCellDef="let pres;index as i" class="data">{{i+1}}</td>
            </ng-container>


            <ng-container matColumnDef="TestName">
                <th mat-header-cell *matHeaderCellDef class="headers">Medicine Name</th>
                <td mat-cell *matCellDef="let pres" class="data">{{pres.prescriptionName}}</td>
            </ng-container>

            <ng-container matColumnDef="Result">
                <th mat-header-cell *matHeaderCellDef class="headers">Dosage</th>
                <td mat-cell *matCellDef="let pres" class="data">{{pres.dosage}}</td>
            </ng-container>

            <ng-container matColumnDef="Notes">
                <th mat-header-cell *matHeaderCellDef class="headers">Notes</th>
                <td mat-cell *matCellDef="let pres" class="data">{{pres.notes}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>